<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <title>EverestMotors - Alto_Cilindraje</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    {% load static %}
    <!-- Favicon -->
    <link href="{% static 'clientes/img/icono.png' %}" rel="icon" >


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'clientes/lib/animate/animate.min.css' %} " rel="stylesheet" >
    <link href="{% static 'clientes/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" >

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'clientes/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Template Stylesheet -->
    <link href="{% static 'clientes/css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="top-bar text-white-50 row gx-0 align-items-center d-none d-lg-flex">
            <div class="box">
                <div class="container-1">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" placeholder="Busca tu vehículo" id="Buscador" />
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
              <h1 class="fw-bold text-primary m-0">Everest<span class="text-white">Motors</span></h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="{% url 'inicio' %}" class="nav-item nav-link active">Home</a>
                     <div class="nav-item dropdown">
                        <a href="clientes/vehiculos.html" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Vehículos</a>
                        <div class="dropdown-menu m-0">
                            <a href="{% url 'vehiculos' %}" class="dropdown-item">Todos los Vehículos</a>
                            <a href="{% url 'ecologicos' %}"class="dropdown-item">Ecológicos</a>
                            <a href="{% url 'autos' %}" class="dropdown-item">Automóviles</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Especiales</a>
                        <div class="dropdown-menu m-0">
                            <a href="{% url 'deportivos' %}" class="dropdown-item">Vehículos Deportivos</a>
                            <a href="{% url 'todoterreno' %}" class="dropdown-item">Vehículos Todo Terreno </a>
                            <a href="{% url 'altocilindraje' %}" class="dropdown-item">Vehículos Alto Cilindraje</a>
                        </div>
                    </div>
                    <a href="{% url 'clientes' %}" class="nav-item nav-link">Clientes</a>
                    <a href="{% url 'contactanos' %}" class="nav-item nav-link">Contáctanos</a>
                </div>
                <div class="d-none d-lg-flex ms-2">
                    <a class="btn btn-outline-primary py-2 px-3" href="{% url 'cotiza' %}">
                       Cotiza aquí
                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Alto Cilindraje</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Especiales</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Vehículos Alto Cilindraje</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Alto Cilindraje Start -->
        <div class="container py-5">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Alto Cilindraje</div>
                <h1 class="display-6 mb-5">Transporta tus productos o cargas pesadas con total seguridad y confianza</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                                <small>Modelo</small>
                            </div>
                            <h5 class="mb-3">Nombre del vehículo</h5>
                            <p>Descripción del vehículo y sus principales características como potencia, límite de carga, estilos…</p>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="{% static 'clientes/img/logo_1.png' %}" alt="">
                            <div class="causes-overlay">
                                <a class="btn btn-outline-primary" href="">
                                    Conoce más
                                    <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                                <small>Modelo</small>
                            </div>
                            <h5 class="mb-3">Nombre del vehículo</h5>
                            <p>Descripción del vehículo y sus principales características como potencia, límite de carga, estilos…</p>
                            <div class="causes-progress bg-light p-3 pt-2">
                            </div>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="{% static 'clientes/img/logo_1.png' %}" alt="">
                            <div class="causes-overlay">
                                <a class="btn btn-outline-primary" href="">
                                    Conoce más
                                    <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                                <small>Modelo</small>
                            </div>
                            <h5 class="mb-3">Nombre del vehículo</h5>
                            <p>Descripción del vehículo y sus principales características como potencia, límite de carga, estilos…</p>
                            <div class="causes-progress bg-light p-3 pt-2">
                            </div>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="{% static 'clientes/img/logo_1.png' %}" alt="">
                            <div class="causes-overlay">
                                <a class="btn btn-outline-primary" href="">
                                    Conoce más
                                    <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Alto Cilindraje End -->


    <!-- Características Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Características</div>
                <h1 class="display-6 mb-5">Principales características de nuestros vehiculos más potentes</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{% static 'clientes/img/volante_1.png' %}" alt="">
                        <h4 class="mb-3">Modelos</h4>
                        <p class="mb-4">Modelos de vehiculos de carga pesada con los que cuenta la empresa.</p>
                        <a class="btn btn-outline-primary px-3" href="">
                            Conoce más
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{% static 'clientes/img/cilindraje_2.png' %}" alt="">
                        <h4 class="mb-3">Cilindraje</h4>
                        <p class="mb-4">Altos cilindrajes de los vehículos más potentes de la empresa</p>
                        <a class="btn btn-outline-primary px-3" href="">
                            Conoce más
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{% static 'clientes/img/ecologico_3.png' %}" alt="">
                        <h4 class="mb-3">Ecológicos</h4>
                        <p class="mb-4">Características ecológicas que tienen nuestros vehículos de alto cilindraje</p>
                        <a class="btn btn-outline-primary px-3" href="">
                            Conoce más
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Características End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-4">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h1 class="fw-bold text-primary mb-4">Everest<span class="text-white">Motors</span></h1>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square me-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square me-1" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Boletín informativo</h5>
                    <p>Regístrate al boletín de Everest Motors y recibe de primera mano la nueva información.</p>
                    <div class="col-lg-3 col-md-6" style="max-width: 400px;">
                            <button onclick="location. href='{% url 'Registrate' %}' " style="position:relative;  top: 0px; left: 0px" type="button" class="btn btn-primary py-2">Regístrate</button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Usuario">
                    </div>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Contraseña">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Ingresar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'clientes/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'clientes/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'clientes/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'clientes/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'clientes/lib/parallax/parallax.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'clientes/js/main.js' %}"></script>

</body>

</html>
